<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rule/validate}" th:object="${rule}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of RuleName, there are 2 buttons: Save data and Cancel to the list RuleName
			 -->
			<div class="form-group">
				<input
					type="text" th:field="*{name}" class="form-control" id="nameInput"
					aria-describedby="name" placeholder="name">
			</div>
			<div class="form-group">
				<input
					type="text" th:field="*{description}" class="form-control" id="descriptionInput"
					aria-describedby="description" placeholder="description">
			</div>

	   		<div class="form-group">
				<input
					type="text" th:field="*{json}" class="form-control" id="jsonInput"
					aria-describedby="json" placeholder="json">
			</div>
			
					<div class="form-group">
				<input
					type="text" th:field="*{template}" class="form-control" id="templateInput"
					aria-describedby="template" placeholder="template">
			</div>
			<div class="form-group">
				<input
					type="text" th:field="*{sqlStr}" class="form-control" id="sqlStrInput"
					aria-describedby="sqlStr" placeholder="sql">
			</div>

	   		<div class="form-group">
				<input
					type="text" th:field="*{sqlPart}" class="form-control" id="sqlPartInput"
					aria-describedby="sqlPart" placeholder="sqlPart">
			</div>
			
			<div class="col-sm text-center pt-2">
				<button type="button" class="btn btn-danger text-white px-5 font-weight-bold">Cancel</button>
		   		<button type="submit" class="btn bg-success text-white px-5 font-weight-bold">Add Rule</button>
		   </div>
		</form>
	</div>

</div>
</body>
</html>