<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bid/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/rule/list">Rule</a>&nbsp;|&nbsp;
			<a th:if= "${user.role == 'ADMIN'}" href="/user/list">User management</a>
		</div>
		<div class="col-6 text-right">
			Logged in user: <b th:text="${user.username}">First name</b> <a class="nav-link" th:href="@{/logout}">Logout</a>
		</div>
	</div>
	<div class="row"><h2>Rule List</h2></div>
	<div class="row">
		<a href="/rule/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>json</th>
					<th>template</th>
					<th>sql</th>
					<th>sqlPart</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${ruleList.empty}">
					<td colspan="3">You don't have any rule yet.</td>
				</tr>
				<tr th:each="rule: ${ruleList}">
					<td><span th:text="${rule.id}"> Id </span></td>
					<td><span th:text="${rule.name}"> Name </span></td>
					<td><span th:text="${rule.description}"> Description </span></td>
					<td><span th:text="${rule.json}"> json </span></td>
					<td><span th:text="${rule.template}"> template </span></td>
					<td><span th:text="${rule.sqlStr}"> sqlString </span></td>
					<td><span th:text="${rule.sqlPart}"> sqlPart </span></td>

					<td>
						<a th:href="@{/rule/update/{id}(id=${rule.id})}"><button class="btn">Edit</button></a>		
						<a th:href="@{/rule/delete/{id}(id=${rule.id})}"><button class="btn btn-danger">Delete</button></a>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>