<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
			 -->
		   		<div class="form-group">
					<input
						type="number" th:field="*{curveId}" class="form-control" id="curveIdInput"
						aria-describedby="curveId" placeholder="Curve Id" required>
				</div>
				<div class="form-group">
					<input
						type="number" step="0.01" th:field="*{term}" class="form-control" id="termInput"
						aria-describedby="tyerm" placeholder="Term">
				</div>

		   		<div class="form-group">
					<input
						type="number" step="0.01" th:field="*{value}" class="form-control" id="valueInput"
						aria-describedby="value" placeholder="Value">
				</div>
				<div class="col-sm text-center pt-2">
					<button type="button" class="btn btn-danger text-white px-5 font-weight-bold">Cancel</button>
			   		<button type="submit" class="btn bg-success text-white px-5 font-weight-bold">Add Curve Point</button>
			   </div>
		</form>
	</div>

</div>
</body>
</html>