<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="curveIdInput">curveId</label> 
				<input
					type="number" th:field="*{curveId}" class="form-control" id="curveIdInput"
					aria-describedby="curveIdHelp" placeholder="curve Id" required>
			</div>
			<div class="form-group">
				<label for="termInput">Term</label> 
				<input
					type="number" step="0.01" th:field="*{term}" class="form-control" id="termInput"
					aria-describedby="termHelp" placeholder="Term">
			</div>
			<div class="form-group">
				<label for="valueInput">Value</label> 
				<input
					type="number" step="0.01" th:field="*{value}" class="form-control" id="valueInput"
					aria-describedby="mailHelp" placeholder="Value"> 
			</div>
			<button type="button" class="btn btn-danger text-white px-5 font-weight-bold">Cancel</button>
			<button type="submit" class="btn btn-primary">Modifier</button>
		</form>
	</div>

</div>
</body>
</html>